body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
}

.container {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: #1E1E1E;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: none;
    border-radius: 5px;
    background-color: #333333;
    color: #FFFFFF;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #6200EA;
    color: #FFFFFF;
    cursor: pointer;
}

button:hover {
    background-color: #3700B3;
}

#message {
    margin-top: 20px;
    font-weight: bold;
}
